name: Enforce branch naming

on: [push, pull_request]

jobs:
  validate-branch-name:
    runs-on: ubuntu-latest
    steps:
      - name: Validate branch name requirements
        uses: deepakputhraya/action-branch-name@master
        with:
            regex: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
            min_length: 6